.category_card {
    max-width: 254px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(217, 236, 255, 0.50);
    padding: 37px 67px 47px 66px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .icon_container {
        width: 90px;
        height: 90px;
        background: #DF385B;
        display: grid;
        place-content: center;
        border-radius: 8px;
    }

    & h4 {
        color: #324361;
        text-align: center;
        font-family: "Saira Semibold";
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
        margin: 50px 0 45px 0;
    }

    & p {
        color: #4F547B;
        text-align: center;
        font-family: "Saira Medium";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
    }
}