@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Revalia";
    src: url(./assets/fonts/Revalia-Regular.ttf);
}

@font-face {
    font-family: "Saira Medium";
    src: url(./assets/fonts/Saira-Medium.ttf);
}

@font-face {
    font-family: "Saira Semibold";
    src: url(./assets/fonts/Saira-SemiBold.ttf);
}

@font-face {
    font-family: "Rowdies Regular";
    src: url(./assets/fonts/Rowdies-Regular.ttf);
}

@font-face {
    font-family: "Saira Regular";
    src: url(./assets/fonts/Saira-Regular.ttf);
}

@font-face {
    font-family: "Rowdies Bold";
    src: url(./assets/fonts/Rowdies-Bold.ttf);
}

@font-face {
    font-family: "Inter Medium";
    src: url(./assets/fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: "Saira Bold";
    src: url(./assets/fonts/Saira-Bold.ttf);
}

.ant-drawer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.ant-drawer-body p {
    /* margin: 10px 0 !important; */
    font-family: "Saira Medium";
    display: flex;
    column-gap: 72px;
    color: #1B2336;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
}

.ant-drawer-body button {
    padding: 19px 54px 18px 54px;
    border-radius: 10px;
    background: linear-gradient(102deg, #083F9B 0%, #7F56D9 93.39%);
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}

.ant-btn-primary {
    background: blue;
}

.ant-btn {
    background: blue;
    color: #FFFFFF;
}

.modal_top {
    padding: 6px 20px;
    background: blue;
    color: #FFFFFF;
    max-width: fit-content;
    margin-bottom: 20px;
    border-radius: 6px;
}

.ant-form-item-row {
    display: block;
}

.ant-form-item-label {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    margin-top: 126px;
}

@media only screen and (max-width: 1024px) {
    main {
        margin-top: 96px;
    }
}