.courses {
  overflow: visible;
  padding: 20px;

  & .main__up2 {
    background: #ffffff;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .table {
    width: 100%;
    padding: 15px 0;
  }
}

.edit {
  & .ant-btn {
    background: blue !important;
    color: #ffffff !important;

    &:hover {
      background: #5e5eff !important;
      color: #ffffff !important;
    }
  }
}

.danger {
  & .ant-btn {
    background: red !important;
    color: #ffffff !important;

    &:hover {
      background: #ff4b4b !important;
      color: #ffffff !important;
    }
  }
}

.ant-input {
  width: 100% !important;
}

.ant-btn-primary {
  display: none;
}